* {
    box-sizing: border-box;
}

body, html{
    padding: 0;
     
}

body{
    background: #23252C;
   margin: 0 auto; 
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 19.8rem;
   font-family: 'Inter', sans-serif;
   
}


header{
    margin-top: 2.75em;
    margin-bottom: 0;
    padding: 0;
}

header img{
   width: 100%;
    border-radius: 10px 10px 0 0;
    margin:0;
    padding:0;
}

main{
    margin: 0;
    background: white;
    color: black;
    padding: 1.25em 2.1875em;
}

.main--flex-wrap{
   text-align: center;
   padding: 0;
   margin: 0;
   
}


button, a{
   cursor: pointer;
}

button{
  margin-right: 1em;  
  width: 7.18em;
  padding: 0.58em 0;
}

button:hover, {
    opacity: 0.4;
    transition: 3s;
}



h2, h5, p{
    margin:0 0 0.5em;
}

a{
  margin-right: 1em;
  text-decoration: none;
  cursor: pointer;
}

.main--links{
   margin-top: 2em;
   display: flex;
  
}

.email, .linkedin{
     
    border-radius: 6px;
}

.linkedin{
    background: #297FE5;
    color: white; 
    
    border: none; 
}

.email{
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

footer{
    display: flex;
    text-align: center;
    margin:0 0 2.5em; 
    padding: 1.25em 4.5625em;
    background: #D5D4D8;
    border-radius: 0px 0px 10px 10px;
    gap: 1.5em;
}

footer i.fa-brands {
    font-size: 2em;
    color: #918E9B;
    cursor: pointer; 
}

h5{
    font-size: 0.8em;
    color: #F47D27;
}

.main--website{
    font-size: 0.64em;
}